

@media screen and (max-width: 960px){

.logo{
    color: #b62121;
}
.top_section{
    height:"120px"
}
.sidebar_obj{
    padding-top: 50%;
    line-height: 1rem;


}
.sidebar{
    width: 5px;
    background: #b62121;
}
.link_text{
background: green;
}
}